# Byte-compiled / optimized / DLL files
__pychache__/
*.pyc

# IDE
.idea
.vscode

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store

# Celery beat schedule file
celerybeat-schedule*

# Database
db.sqlite3

# Static files
staticfiles/

# Logs
logs/
